{% extends "layout.njk" %}
{% block header%}
    <meta charset="UTF-8">
    <title>Danielle Oliveira</title>
    <link rel="stylesheet" href="style.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
{% endblock %}

{% block conteudo %}

    <div id="img">
        <h1>{{iten.descricao}}</h1>
    </div>
    <section class="certificados">
                <img src="{{iten.caminho}}" alt="">
    </section>
{% endblock %}