{% extends "layout.njk" %}
{% block header%}
    <meta charset="UTF-8">
    <title>{{sobre.nome}}</title>
    <link rel="stylesheet" href="style.css">
{% endblock %}
{% block conteudo %}
    <div id="img">
        <img src="{{sobre.img}}" alt="{{sobre.nome}}">
        <h1>{{sobre.nome}}</h1>
        <h2>{{sobre.funcao}}</h2>
        <p>{{sobre.descricao}}</p>
    </div>
    <footer>
        <div id="final" class="links">
            {% for link in sobre.links %}
            <a href="{{link.url}}" target="_blank">{{link.nome}}</a>
            {% endfor %}
        </div>
    </footer>
{% endblock %}