<!DOCTYPE html>
<html>
<head>
    {% block header%}
    {% endblock %}
</head>
<body>
    <header>
        <div class="links">
            <a href="/">Sobre</a>
            <a href="/classes">Certificados</a>
        </div>
    </header>
        {% block conteudo %}
        {% endblock %}
</body>
</html>